<p id="dd">
    Nome Completo do acolhido:
</p>
<input type="text" id="nome" placeholder="Nome" required>
<p>
    CPF do acolhido:
</p>
<input type="text" id="CPF" placeholder="CPF" required>
<p>
    Data de nascimento do acolhido:
</p>
<input type="date" id="nascimento" required>
<p>
    Nome completo do responsável legal:
</p>
<input type="text" id="responsavel" placeholder="Nome do responsável" required>
<p>
    Número de bens do acolhido:
</p>
<input type="text" id="numBens" placeholder="Número de Bens" required>
<p>
    Solicitar cadastro:
</p>
<input type="button" id="confirma" onclick="validaCadastro()" value="Confirmar Solicitação">
